<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @contact.first_name %> <%= @contact.last_name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>Email address</dt>
              <dd><a href="mailto:<%= @contact.email_address %>"><%= @contact.email_address %></a></dd>

              <dt>Address #1</dt>
              <dd><%= @contact.address_line_one %></dd>

              <dt>Address #2</dt>
              <dd><%= @contact.address_line_two %></dd>

              <dt>City</dt>
              <dd><%= @contact.city %></dd>

              <dt>State</dt>
              <dd><%= @contact.state %></dd>

              <dt>Zip code</dt>
              <dd><%= @contact.zip_code %></dd>

              <dt>Birthday</dt>
              <dd><%= @contact.birthday %></dd>

              <dt>User</dt>
              <dd><a href="mailto:<%= @contact.user.email %>"><%= @contact.user.email %></a></dd>

              <dt>Date last updated by user</dt>
              <dd><%= @contact.date_last_updated_by_user.strftime('%x')  %></dd>

              <dt>Unique token</dt>
              <dd><%= @contact.unique_token %></dd>


            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/contacts" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/contacts/<%= @contact.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_contact/<%= @contact.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
